pip
bump2version
wheel
watchdog
flake8
Sphinx
twine
Click==7.0
pytest
pytest-cov
black
mypy
isort
pre-commit
ipython
pandoc
sphinx_rtd_theme
pdbpp
openpyxl
pandas
SQLAlchemy
numpy
pyyaml
typer
sqlalchemy-stubs
